<!-- Stuff that will be places in the head element of the base layout. -->

<script src="/assets/scripts/theme-switch.js"></script>
<!-- MathJax -->
<script src="/assets/scripts/mathjax-config.js"></script>
<script async id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"></script>
<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
<link rel="manifest" href="/assets/favicon/site.webmanifest">
<!-- Code Syntax Highlighting -->
<link
  href="{{ '/assets/css/github-dark.css' | relative_url | bust_file_cache }}"
  rel="stylesheet"
>
<!-- Merida Theme -->
<link rel="stylesheet" href="{{ "/assets/css/merida.css" | relative_url }}">
