---
layout: base
---
<div class="prose max-w-full">
<h1>{{ site.title }}</h1>
<div class="flex flex-col md:flex-row flex-wrap xl:gap-16 sm:gap-6 mb-10">
  <div class="prose flex-1">
    {{ content }}
  </div>
  {% if page.profile %}
  <div class="md:ml-auto">
    {% if page.profile.image %}
    {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
    <img alt="{{ page.profile.alt | escape }}" class="mx-auto md:mx-0 mb-0 mt-5 md:mt-0 rounded shrink-0 w-64 h-auto" src="{{ profile_image_path }}"/>
    {% endif %}
    {% if page.profile.caption %}
    <p class="text-xs! mt-2 text-center text-gray-500">{{ page.profile.caption }}</p>

    {% endif %}
  </div>

  {% endif %}
</div>

{% if page.latest_news and page.latest_news.enabled %}
<h2 class="mt-0">Latest News</h2>
{% include latest-news.html %}
{% endif %}

{% if page.latest_posts and page.latest_posts.enabled %}
<h2>Latest Posts</h2>
{% include latest-posts.html %}
{% endif %}
</div>
