---
layout: base
---
<div class="prose max-w-full" data-pagefind-ignore>
  <h1>{{ site.title }}</h1>

  <div class="mb-10">
    {% if page.profile and page.profile.image %}
    {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
    <div class="md:float-right md:ml-8 md:mb-4 w-full md:w-64 not-prose">
      <img
        alt="{{ page.profile.alt | escape }}"
        class="mx-auto md:mx-0 rounded shadow-lg w-full h-auto"
        src="{{ profile_image_path }}"
      />
      {% if page.profile.caption %}
      <p class="mt-2 text-center text-xs text-gray-500">
        {{ page.profile.caption }}
      </p>
      {% endif %}
    </div>
    {% endif %}

    <div class="text-justify">
      {{ content }}
    </div>

    <div class="clear-both"></div>
  </div>

  {% if page.latest_news and page.latest_news.enabled %}
  <h2 class="mt-0">Latest News</h2>
  {% include latest-news.html %}
  {% endif %}

  {% if page.latest_posts and page.latest_posts.enabled %}
  <h2>Latest Posts</h2>
  {% include latest-posts.html %}
  {% endif %}
</div>
