<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }} data-theme="system">
  <!-- Headers   -->
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    {% include header.html %}
    {% seo %}
  </head>
  <body data-pagefind-body class="bg-[var(--bg-main)] font-main min-h-screen flex flex-col">

    {% include navbar.html %}
    <!-- Child Content    -->
    <div data-pagefind-body class="px-2 xl:px-0 font-main pb-16 main flex flex-col flex-1 mx-auto mt-16 max-w-theme w-full xl:px-0 grow-1">
      {{ content }}
    </div>

    {% include post-body.html %}
    {% include footer.html %}
  </body>
</html>
