---
layout: base
---
<div class="prose min-w-full">
  {{ content }}

  <div>
    <ul class="pl-0 space-y-3">
      {% assign sorted_news = site.news | sort: "date" | reverse %}
      {% for news in sorted_news %}
      {% if news.title %}
      <li class="not-last:mb-4 px-3 py-2 border-l-4 border-[var(--border)] bg-[var(--card)] flex flex-col sm:flex-row sm:items-center gap-2 sm:gap-4">

        <!-- Date -->
        <time class="text-xs sm:text-sm bg-[var(--time)] text-[var(--text)] px-2 py-1 rounded w-fit sm:min-w-32 text-center">
          {{ news.date | date: "%b %d, %Y" }}
        </time>

        <!-- Title -->
        <div class="flex-1 min-w-0">
          <p class="font-semibold my-0!">
            {{ news.title }}
          </p>
        </div>

        <!-- Read more -->
        {% if news.content and news.content != "" %}
        <div class="self-end mt-1 sm:mt-0">
          <a class="text-sm hover:underline px-2 py-1 rounded-md" href="{{ news.url | relative_url }}">
            Read more →
          </a>
        </div>
        {% endif %}

      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
