---
layout: base
---

<div class="prose max-w-full ">
  {{ content }}
  <div class="{% if content != '' %}mt-16{% endif %}">
  {% if site.data.repos %}
  {% assign grouped_repos = site.data.repos.items | sort: "category" | group_by: "category" %}
  {% assign category_order = site.data.repos.orders | default: empty %}
  {% for category_name in category_order %}
  {% assign group = grouped_repos | where: "name", category_name | first %}
  {% if group %}
  <h2>{{ group.name | default: "Uncategorized" }}</h2>
  <ul class="divide-y divide-border-main pl-0! bg-[var(--card)] ">
    {% assign sorted_repos = group.items | sort: "date" | reverse %}
    {% for repo in sorted_repos %}
    <li class="not-prose flex flex-col lg:flex-row lg:items-center py-6 gap-0 lg:gap-4 px-6">
      <!-- Date column -->
      <time class="min-w-[100px] max-w-[100px] flex-shrink-0 text-sm!">
        {{ repo.date | date: "%b %d, %Y" }}
      </time>
      {% if repo.host %}
      <a class="mb-0! min-w-[200px] max-w-[200px] font-bold! truncate lg:text-center" href="{{ repo.host }}/{{ repo.user_name }}/{{ repo.repo_name}}">
        {{ repo.name }}
      </a>
      {% endif %}

      <p class="not-prose mb-0! truncate grow">
        {{ repo.description }}
      </p>
      <img alt="GitHub Repo stars" class="not-prose w-[100px] min-w-[100px] mt-1 lg:mt-0 h-auto" src="https://img.shields.io/github/stars/{{ repo.user_name }}/{{ repo.repo_name }}?style=flat-square&cacheSeconds=3600">
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endfor %}
  {% for group in grouped_repos %}
  {% unless category_order contains group.name %}
  <h2>{{ group.name | default: "Uncategorized" }}</h2>
  <ul class="divide-y divide-border-main pl-0!">
    {% assign sorted_repos = group.items | sort: "date" | reverse %}
    {% for repo in sorted_repos %}
    <li class="not-prose flex flex-col lg:flex-row lg:items-center py-6 gap-0 lg:gap-4">
      <!-- Date column -->
      <time class="min-w-[100px] max-w-[100px] flex-shrink-0 text-sm!">
        {{ repo.date | date: "%b %d, %Y" }}
      </time>
      {% if repo.host %}
      <a class="mb-0! min-w-[200px] max-w-[200px] font-bold! truncate lg:text-center" href="{{ repo.host }}/{{ repo.user_name }}/{{ repo.repo_name}}">
        {{ repo.name }}
      </a>
      {% endif %}

      <p class="not-prose mb-0! truncate grow">
        {{ repo.description }}
      </p>
      <img alt="GitHub Repo stars" class="not-prose w-[100px] min-w-[100px] mt-1 lg:mt-0 h-auto" src="https://img.shields.io/github/stars/{{ repo.user_name }}/{{ repo.repo_name }}?style=flat-square&cacheSeconds=3600">
    </li>
    {% endfor %}
  </ul>
  {% endunless %}
  {% endfor %}
  {% endif %}
</div>
</div>
